.framework-card {
    position: absolute;
    width: 200px;
    height: 320px;
    border-radius: 8px;
    background: #1d1c20;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    font-family: 'Dongle';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    border: 10px solid rgba(255, 255, 255, .08);
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    filter: hue-rotate(calc(var(--i) * 100deg));
    /* box-shadow: 0 15px 50px rgba(0,0,0,0.1); */
}

.framework-card img {
    opacity: 0;
}

.card-tool:hover .framework-card {
    transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 80px), -50px);
    /* color: rgba(225,225,225,1); */
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
    background: #1d1c20;


}

.card-tool:hover .framework-card img {
    opacity: 1;
}


/*                    .card-project:active .framework-card {
    background: #1d1c20;
} */


.framework-card:hover {
    translate: calc(var(--i) * 5px) -50px;
    z-index: 100;
    background: #5e5cf5 !important;

}


@media (min-width: 1024px) and (max-width: 1280px) {
    .framework-card {
        width: 200px;
        height: 320px;
    }

    .card-tool:hover .framework-card {
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 35px), -50px);
        /* color: rgba(225,225,225,1); */
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    }
}


@media (min-width: 769px) and (max-width: 1023px) {
    .framework-card {
        width: 150px;
        height: 240px;
    }

    .card-tool:hover .framework-card {
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 25px), -25px);
        /* color: rgba(225,225,225,1); */
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    }
}


@media (min-width: 426px) and (max-width: 768px) {
    .framework-card {
        width: 150px;
        height: 240px;
    }

    .card-tool:hover .framework-card {
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 20px), -3px);
        /* color: rgba(225,225,225,1); */
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    }



}

@media (max-width: 425px) {
    .framework-card {
        width: 100px;
        height: 160px;
    }

    .card-tool:hover .framework-card {
        transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 15px), -5px);
        /* color: rgba(225,225,225,1); */
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    }


}


.card-tool {
    max-height: 400px;
    min-height: 550px;
    border-radius: 24px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .08);
    ;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.08);
}


.div-project-2 {
    position: relative;
    transform-style: preserve-3d;

}

.div-project-2 .box {
    position: relative;
    margin-bottom: 60px;
}

.div-project-2 .box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.div-project-2 .box .imgBx {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 25px;
}

.div-project-2 .box .imgBx img {
    min-height: 220px;
}

.div-project-2 .box .contentBx {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    background-color: #000;
    background-image: linear-gradient(#1e1d20, #141216);
    transform: translateZ(20px) scale(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
    border-radius: 25px;
}

.div-project-2 .box:hover .contentBx {
    transform: translateZ(20px) scale(1);
}

@media(min-width: 1280px) {
    .div-project-2 .box .imgBx img {
        min-height: 220px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .div-project-2 .box {
        position: relative;
        margin-bottom: 150px;
    }



    .div-project-2 .box:hover .contentBx p {
        color: #bdbdc0;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

    }
}

@media (min-width: 769px) and (max-width: 1023px) {


    .div-project-2 .box {
        position: relative;
        margin-bottom: 150px;
    }

    .div-project-2 .box:hover .contentBx p {
        color: #bdbdc0;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

    }
}

@media (min-width: 426px) and (max-width: 768px) {



    .div-project-2 .box {
        position: relative;
        margin-bottom: 150px;
    }

    .div-project-2 .box:hover .contentBx h2 {
        font-size: 18px !important;
        line-height: 18px !important;
    }

    .div-project-2 .box:hover .contentBx p {
        color: #bdbdc0;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

    }

    .div-project-2 .box .contentBx {
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;

    }


}

@media (max-width: 1279px) {
    .div-project-2 {
        overflow: auto;

    }

    .div-project-2 .box .imgBx img {
        min-height: auto;
    }
}



@media (max-width: 425px) {

    .div-project-2 {
        overflow: auto;

    }

    .div-project-2 .box {
        position: relative;
        margin-bottom: 150px;
    }

    .div-project-2 .box:hover .contentBx h2 {
        font-size: 18px !important;
        line-height: 18px !important;
    }

    .div-project-2 .box:hover .contentBx p {
        color: #bdbdc0;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

    }

    .div-project-2 .box .contentBx {
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;

    }


}